<div class="flex flex-col items-center justify-center bg-gray-800 border-b p-6 ">
  <% if @user.avatar_url? %>
    <%= image_tag(@user.avatar_url, class:"w-32 rounded-full") %>
  <% elsif @user.avatar.attached?%>
    <%= image_tag(@user.avatar, class:"w-32 rounded-full") %> 
  <% else %>
    <%= image_tag('default_profile.png', class:"w-32 rounded-full") %>
  <% end %>
        
  <p class="pt-2 font-semibold text-gray-50 text-2xl"><%= @user.full_name %></p>
  <p class="text-sm text-gray-100"><%= @user.email %></p>
</div>

<div class="w-[80%] mx-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="my-5">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"%>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="actions bg-blue-600 text-white p-2 my-2 cursor-pointer text-center">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <div class="bg-blue-600 text-white p-2 my-2 cursor-pointer text-center">  
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>

  <%= link_to user_path(current_user) do %>
    <div class="my-3 bg-black text-white p-2 cursor-pointer text-center">
      <p> Back to Profile </p>
    </div>
  <%end%>

</div>
